.carta{
    width: 125px;
    height: 125px;
    
} 

.portada{
    width: 125px;
    height: 125px; 
    background-color:#e6ccef;
}

.contenido{   
    width: 125px;
    height: 125px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  #4b0081;
}

.ReactFlipCard{
    width: 100%;
    height: 100%;
  
}